
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html {
  font-size: 100px;
}

body {
  font-size: 0.14rem;
}

p {
  font-size: 14px;
  font-size: 0.14rem;
}
.fl {
  float: left;
}
.required{
  color: red;
  padding-right: 3px;
}
.error-input{
  border: 1px solid #FF0000!important;
}
.line-throught{
  text-decoration: line-through;
  color: #eeeeee;
}
// Variables
@import "variables";
// header
@import "header";
// footer
@import "footer";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

