// Variables
@import "variables";
.nav-bar{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  height: 120px;
  line-height: 120px;
  z-index: 10;
  background: rgba(0,0,0,0.3);
  .logo{
    float: left;
    height: 120px;
    img{
      width: 180px;
      height: 30px;
      padding-top: 40px;
      float: left;
    }
  }
  .menu{
    float: right;
    li{
      list-style: none;
      float: left;
      padding-left: 60px;
    }
  }
}
.m-nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #000000;
  transition: all 10s;
  .logo{
    padding: 20px 0;
    height: 30px;
  }

}
.m-nav-bar.active{
  height: 100%;
  background: #000000;
  z-index: 99;
  transition: all 10s;
  transform: translateY(-(calc(100% - 70px)));
  color: #ffffff;
  ul>li{
    padding: 10px 0;
    a{
      color: #ffffff;
      font-size: 20px;
    }
  }
}



/* Default navigation icon */
.nav_trigger {
  display: block;
  position: absolute;
  width: 30px;
  height: 25px;
  right: 10px;
  top: 0px;
  z-index: 200;
  padding: 25px 0;
}
.nav-bar.active .nav_trigger {
  opacity: 0.5;
}
.nav_icon {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #FFFFFF;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.nav_icon:before,
.nav_icon:after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.nav_icon:before {
  margin-top: -10px;
}
.nav_icon:after {
  margin-top: 10px;
}
.m-nav-bar.active .nav_icon{
  transform: rotate(90deg);
}