// Variables
@import "variables";
.uc-header {
  background: $theme-bg-black;
  height: 10rem;
  line-height: 10rem;
}
.uc-content {
  background: url("img/uc-bg.png") no-repeat center;
  height: 83.5rem;
  .panel {
    background: url("img/uc-panel-bg.png") no-repeat center;
    height: 76.5rem;
    width: 94.5rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding-top: 8.5rem;

  }
}